---
import Card from '../Card/index.astro';
---
<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Acerca de mi" href='/about'>
  <div class="flex flex-col space-y-4 mt-2">
    <div class="text-sm font-light">
      <p>
        Hola, soy Stiven, un desarrollador front-end, ubicado en Colombia. Mis herramientas de preferencia incluyen:
      </p>
      <ul class="list-disc list-inside ml-2 mt-2">
        <li>JavaScript</li>
        <li>React/React Native</li>
        <li>Nextjs</li>
        <li>Nodejs</li>
        <li>Nestjs</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Más allá del código, me apasionan el diseño, la ilustración, los
      tatuajes, los viajes y el stand-up comedy. Me encanta aprender cosas
      nuevas y compartir conocimientos con los demás.
    </p>
    <p class="text-sm font-light">
      Estoy abierto al trabajo en equipo y me entusiasma contribuir a la
      creación de aplicaciones web de primera categoría centradas en el
      usuario.
    </p>
  </div>
</Card>