---
import Card from '../Card/index.astro';
---

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2" title="Habilidades">
  <div class="flex flex-row flex-wrap gap-2 pb-4 pt-2">
    <span class="text-sm font-medium px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-300">Javascript</span>
    <span class="text-sm font-medium px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-300">React</span>
    <span class="text-sm font-medium px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-300">React Native</span>
    <span class="text-sm font-medium px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-300">Nodejs</span>
    <span class="text-sm font-medium px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-300">Nestjs</span>
    <span class="text-sm font-medium px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-300">Typescript</span>
    <span class="text-sm font-medium px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-300">Graphql</span>
    <span class="text-sm font-medium px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-300">Nextjs</span>
    <span class="text-sm font-medium px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-300">Figma</span>
    <span class="text-sm font-medium px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-300">UI/UX</span>
    <span class="text-sm font-medium px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-300">Astro</span>
    <span class="text-sm font-medium px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-300">Backend</span>
  </div>
</Card>