---
import BaseHead from "../components/BaseHead.astro";

interface Props {
  title: string;
  description: string;
  page?: "travel" | "blog";
  slug?: string | undefined;
  frontmatter?: {
    file: string;
    url: string | undefined;
  } & {
    title: string;
    description: string;
    pubDate: string;
    minutesRead: string;
  };
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-stone-950 md:h-screen">
    <slot name="loader" />
    <slot />
  </body>
</html>
